{
  "presets": [
    ["@babel/preset-env",{
      "useBuiltIns": "usage",//按需引入,之转化使用的api
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}